<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--文件（后缀html,htm,js,css）缓存时间，不设置默认大小为7天（604800秒），开发调试时可以设置为0禁用-->
    <CACHE_TIMEOUT>604800</CACHE_TIMEOUT>

    <!--上传文件大小限制，不设置默认大小为10M（10240KB）-->
    <STREAM_SIZE>10240</STREAM_SIZE>
    <!--文件读取大小限制，不设置默认大小为10M（10240KB）-->
    <FILE_READ_SIZE>10240</FILE_READ_SIZE>
    <!--文件读取块大小限制，不设置默认大小为1M（1024KB）-->
    <FILE_CHUNKED_SIZE>1024</FILE_CHUNKED_SIZE>
    <!--请求超时时间，不设置默认大小为60秒-->
    <REQUEST_TIMEOUT>60</REQUEST_TIMEOUT>
    <!--客户端页面缓存过期时间，不设置默认大小为7天（604800秒）-->
    <PAGE_EXPIRES>604800</PAGE_EXPIRES>

    <!--http服务器监听端口，不设置默认大小为8000-->
    <SERVER_PORT>8000</SERVER_PORT>
    <!--http服务器SessionId，不设置默认大小为JSESSIONID-->
    <SESSION_ID>JSESSIONID</SESSION_ID>
    <!--http服务器处理请求线程池最小数量，不设置默认大小为100-->
    <SERVER_COREPOOLSIZE>100</SERVER_COREPOOLSIZE>
    <!--http服务器处理请求线程池最大大小，不设置默认大小为1000-->
    <SERVER_MAXPOOLSIZE>1000</SERVER_MAXPOOLSIZE>
    <!--http服务器处理请求线程池空闲时间，不设置默认大小为60分钟-->
    <SERVER_POOLALIVETIME>60</SERVER_POOLALIVETIME>
    <!--http服务器session过期时间，不设置默认大小为30分钟-->
    <SESSION_TIMEOUT>30</SESSION_TIMEOUT>

    <!--Route路由设置-->
    <ROUTE>
        /,home/index,index
        /{controller}/{action},home/index,index
        /{controller},home/index,index
    </ROUTE>

    <!--MIME类型设置-->
    <MIME>
        css,text/css
        doc,application/msword
        docx,application/msword
        eot,application/vnd.ms-fontobject
        gif,image/gif
        html,text/html
        ico,image/x-icon
        jpeg,image/jpeg
        jpg,image/jpeg
        js,text/javascript
        json,application/json
        otf,application/octet-stream
        pdf,application/pdf
        png,image/png
        ppt,application/mspowerpoint
        pptx,application/mspowerpoint
        rar,application/x-rar-compressed
        svg,image/svg+xml
        swf,application/x-shockwave-flash
        tiff,image/tiff
        ttf,application/octet-stream
        txt,text/plain
        wav,audio/x-wav
        wma,audio/x-ms-wma
        wmv,video/x-ms-wmv
        xml,text/xml
        woff,application/font-woff
        woff2,application/font-woff
        xls,application/msexcel
        xlsx,application/msexcel
        zip,application/zip
    </MIME>
</config>